<h3>
  Reset Password
</h3>
<%=form_for @user, :url=>password_path(params[:id]) do |f|%>
  <div class="field">
  <%=f.label :password %>
  <%=f.password_field :password %>
</div>
  <div class="field">
  <%=f.label :password_confirmation, "Password Confirmation" %>
  <%=f.password_field :password_confirmation %>
</div>
<div class="actions">
  <%= f.submit "Update Password" %>
</div>
<%end %>
