<header>
    <%= link_to logo, root_path %>
    <nav class="round">
      <ul>
       <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <%if signed_in?%>
        <li>
            <%=link_to "Profile", user_path(current_user)%> 

        </li>
        <li>
          <%=link_to "Sign out",signout_path, :method => :delete%>
        </li>
        <li>
          <%=link_to "Settings", edit_user_path(current_user)%>   
        </li>
        <li>
          <%=link_to "users", users_path%>
        </li>
        <%else%>
          <%=link_to "Sign in", signin_path%>
        <%end%>
      </ul>
    </nav>
</header>


