<!DOCTYPE html>
<html>
<head>
  <title>Chatage</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%=javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js"%>
  <%= csrf_meta_tags %>
<script type="text/javascript">
// Enable pusher logging - don't include this in production
Pusher.log = function(message) {
if (window.console && window.console.log) window.console.log(message);
};

// Flash fallback logging - don't include this in production
WEB_SOCKET_DEBUG = true;

var pusher = new Pusher('244a62c4217eb601c81d');
var messagechannel = pusher.subscribe('message-channel');
messagechannel.bind('messages/index', function(data) {
eval(data);
});
</script>
</head>
<body>

<%= yield %>

</body>
</html>
