= simple_form_for @user do |f|

  -if @user.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this #{User.name.titleize} from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg  
  %ul.fields    
    %li.field= f.input :name
    %li.field= f.input :email
    %li.field= f.input :handle
    %li.field= f.input :password
    %li.field= f.input :password_confirmation
  .actions
    = f.button :submit
