<p class="<%=cycle("even","odd")%>">
  state <%=@zippers.state%>
</p>
<p class ="<%=cycle("even","odd")%>">
  city  <%=@zippers.city%>
</p>
<p class="<%=cycle("even","odd")%>">
  area code <%=@zippers.area_code%>
</p>
<p class="<%=cycle("even","odd")%>">
 time zone <%=@zippers.time_zone%>
</p>
