<!DOCTYPE html>
<!-->gentle-mountain-4084-->
<html>
<head>
  <title>Hack</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'nicEdit' %>
      <link href='http://fonts.googleapis.com/css?family=Pompiere|Sue+Ellen+Francisco|Amatic+SC|Montserrat' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="span-24 header last">
        <span class="cursive">
          Praxis 
        </span>
        <span class="first-letter">
          D
        </span>
        <span class="noncursive">
          evelopment
        </span>
        <span class="bracket"> 
          lambda{...}
        </span>

        <% if user_signed_in? %>
          <div class ="search-box"> <!--hack.css.scss-->
        </div>
        <%end %>
      </div>
      <div class="span-24 sub-header last">
        <%if  user_signed_in?%>
          <%= render 'layouts/menu' %>
          <%= render 'shared/search' %> 
        <%end  %>
      </div>
    <div id="main-content"  class="span-16 lighten"><!--main-content in hack.css.scss-->
       <% flash.each do |key, value|%>
           <div class="flash <%=key%>"><%=value%></div>
        <%end%>
      <%= yield %>
    </div>

    <div class="span-6 last side-bar">
      <%= render 'shared/user_info' %>
    </div>
  </div>


</body>
</html>
