= simple_form_for @find do |form|

  -if @find.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@find.errors.count, "error")} prohibited this #{Find.name.titleize} from being saved:"
      %ul
        - @find.errors.full_messages.each do |msg|
          %li= msg  


  .actions
    = form.button :submit