<script type="text/javascript">
         bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });       
</script>
<%=form_for @post, :action=>'update' do |f|%>
  <p>
    <%= f.label :title %>
    <%=f.text_field :title %>
  </p>
  <p>
    <%=f.text_area :content,:toolbar =>'Full' %>
      <br>
    <%=f.submit :submit  %>
  </p>
<%end%>
