<!DOCTYPE html>
<html>
<head>
  <title>Hacknet</title>
<% if @use_local_js %>
  <script src="http://localhost:5555/pusher.js"></script>
<% else %>
  <script src="<%= PUSHER_JS_DOMAIN %>/1.9/pusher.min.js"></script>
<% end %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
</head>
<body>
  <div class="container">
    <div class="span-24 large header">
      fred
    </div>
    <div class="span-14  quiet main-content"> 

      <%= yield %>
      <%= flash_messages %>
    </div>
    <div class="span-9  quiet last sidebar">
      <%=form_tag finds_path, :method => :get do%>
        <%=text_field_tag :search, params[:search],
          :html=>{:id=>"autocomplete"}%>
        <%= submit_tag "Search", :name=>nil %>
      <% end %>
    </div>
    <div class="span-24 header footer quiet">
    </div>
</div>

</body>
</html>
